%article{ 'ng-app': 'customers', 'ng-controller': 'CustomerSearchController' }
  %header
    %h1.h2 Customer Search

  %section.search-form
    = form_for :customers, method: :get do |f|
      .input-group.input-group-lg
        = label_tag 'search.keywords', 'Keywords', class: 'sr-only'
        = text_field_tag :keywords, nil, placeholder: 'First Name, Last Name or Email Address', class: 'form-control input-lg', 'ng-model': 'keywords'
        %span.input-group-btn
          = button_tag 'Find Customers', class: 'btn btn-primary btn-lg', 'ng-click': 'search(keywords); $event.preventDefault();'
    %h1.searched_for{ 'ng-if': 'searched_for' }
      %small
        Searched for:
      {{searched_for}}

  %section.search-results
    %header
      %h1.h3 Results
    = render partial: 'pager', locals: { keywords: @keywords, page: @page }
    %ol.list-group
      %li.list-group-item.clearfix{ 'ng-repeat': 'customer in customers' }
        %h3.pull-right
          %small.text-uppercase
            Joined
            {{ customer.created_at | date }}
        %h2.h3
          {{ customer.first_name }} {{ customer.last_name }}
          %small {{ customer.username }}
        %h4 {{ customer.email }}
    = render partial: 'pager', locals: { keywords: @keywords, page: @page }
